h1{
  color:white;
  font-size:100px;
  padding:none;
  border: none;
  text-align: center;
  background-color: black;
  height:120px;
  width:1000px;
}

#test1 {
  background-color:gray;
  height:1000px;
  width:175px;
  font-size:50px;
  float:left;
}

body{
  background-color: black;
  font-family: helvetica, arial, sans-serif;
}

a{
  color:white;
}

<!--
span is an inline attribute
#blah are an id attributes font color
-->
