h1{
  color:black;
  font-size:55px;
  padding:10px;
  margin:0px;
  text-align: center;
  background-color: white;
  height:auto;
  right:0%;
  left:0%;
}

h2{
  color:white;
  text-align: center;
  font-size: 40px;
}

h3{
  position: relative;
  font-size:30px;
}

p{
  font-size:25px;
}

.nav{
  height:70px;
  background-color:gray;
  padding-top:5px;
  width:auto;
  font-size:40px;
}

.space {
  position: relative;
  width:800;
  height:100%;
  margin: 0 auto;
  text-align: center;
  font-size:45px;
  padding-top:15px;
}

.cool .space {
  width: 800px;
  margin: 0 auto;
  /*padding: 0 60px;*/
}

.about .space{
  width:800px;
  margin:0 auto;
  height:98%;
  display: block;
}

.Mlist .space {
  width: 800px;
  height:98%;
  margin: 0 auto;
  display: block;
}

body{
  padding:0px;
  color:white;
  margin:0px;
  height:98%;
  background-color: black;
  font-family: helvetica, arial, sans-serif;
  z-index: 0:
}

a{
  color: black;
  text-decoration: none;
  font:50px;
}

a:hover{
  color:#ff9900;
  font-size: 110%;
  }

.footer{
  position:absolute;
  bottom:0%;
  right: 0;
  left:0;
  color:white;
  text-align:center;
  }

.mlist .footer{
  position: relative;
  bottom:0%;
  right:0;
  left:0;
  color:white;
  text-align:center;
}

.please{
  background-color: white;
  padding-left:20%;
  max-width: 100%;
  max-height: 100%;
}

.movielist{
  position: relative;
  height: 98%;
  width:800;
  margin:0 auto;
}

.movies .content{
  height:500px;
  width:1200px;
  margin:0 auto;
  font-size:25px;
  margin-bottom: 50px;
}


.movies img{
  float:left;
  left:0;
  top:0;
  border:3px solid gray;
  margin-right:40px;
  margin-left:40px;
}

.movies h2{
  padding-right:18%;
}

.movies p{
  p
}

ul{
  list-style-type:none;
  padding:0;
  margin:0;
}

li{
  float:left;
  border-right:3px solid black;

}

li a{
  display: inline-block;
  padding:11px 15px;
}

<!--
span is an inline attribute
#blah are an id attributes font color
-->
